@{ ViewBag.Title = "Home";

}

<!-----------------ABOUT ME---------------->
<section id="about" class="about scrollNavData">
    <div class="container">

        <div class="section-title" style="text-align: center">
            <h1 id="About Me">About Me</h1>
            <p>Hello! My name is Rachel Mantei and I am a Full Stack Web Developer based out of the Kansas City Metropolitan area. Recently, I made a career change from banking into IT. During my time in the banking industry, I had honed in on my soft skills and critical thinking but I realized I was not being challenged enough. So I decided to make a change and bring those skills with me to Centriq Training. I enrolled in the development program because I have a desire to challenge my thought process and in doing that, my creativity has shone brightly. Joining the Web development field has been in the back of my mind for a few years so I finally took the plunge and I have loved my experience! I have found that my enthusiasm with the everchanging challenges of different projects will allow me to learn and grow within the field.</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="~/Content/assets/img/photo of me.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Web Developer &amp; Database Engineer.</h3>
                <p class="font-italic" style="font-weight: 700">
                    Get to know me!
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>Technical Skills:</strong> HTML5, CSS3, JavaScript,<div style="text-indent: 26px">C#, MVC, jQuery, XML</div></li>
                            <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.rachelmantei.com</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> + 417 496 6513</li>
                            <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Kansas City Metro</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelor's</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> webdevrach@gmail.com</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!---------------END ABOUT ME-------------->
<!-----------------RESUME---------------->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title" style="text-align: center">
            <h1>Resume</h1>
            <h3><a href="~/Content/assets/img/Rachel Mantei Resume IT.pdf" target="_blank" style="font-weight:bold" class="resumeSection">Click for PDF version of my resume.</a></h3>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Rachel Mantei</h3>
                <div class="resume-item pb-0">

                    <p><em>Innovative and deadline-driven Web Developer who proactively builds a web user interface from the ground up -- from concept, navigation, and layout. </em></p>
                    <ul>
                        <li><a href="mailto:webdevrach@gmail.com" class="resumeSection">webdevrach@gmail.com</a></li>
                        <li><a href="https://www.linkedin.com/in/rachel-mantei-0b0203b7/" class="resumeSection">Follow me on LinkedIn!</a></li>
                        <li><a href="https://github.com/ram5yc" class="resumeSection">Find me on GitHub!</a></li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Full Stack Developer Program</h4>
                    <h5>December 2020-April 2021</h5>
                    <p><em>Centriq Training Kansas City, MO</em></p>
                    <p>Centriq Training is an IT technology training firm in Kansas City, Missouri that hosts a 14-week Full Stack Web Developer program in . NET, HTML, CSS, JavaScript, MVC, SQL and more.</p>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Science &amp; Business Administration</h4>
                    <h5>2013 - 2018</h5>
                    <p><em>University of Missouri-Columbia, Columbia, MO</em></p>
                    <p>
                        Relative Courses:
                        <ul>
                            <li>Comp-Based Data Systems</li>
                            <li>Project Management Fundamentals</li>
                            <li>Operations Management</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Art &amp; Organizational Communication</h4>
                    <h5>2013 - 2018</h5>
                    <p><em>University of Missouri-Columbia, Columbia, MO</em></p>
                    <p>
                        Relative Courses:
                        <ul>
                            <li>Organizational Communication</li>
                            <li>Nonverbal Communication</li>
                        </ul>
                    </p>
                </div>

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Personal Banker</h4>
                    <h5>August 2018 - December 2020</h5>
                    <p><em>Commerce Bank, Kansas City, MO </em></p>
                    <ul>
                        <li>Ensured internal audits are in accordance with banking policy and update audit tracking in CRM</li>
                        <li>Provided internal training of 10-15 incoming team members of company policies and day-to-day responsibilities </li>
                        <li>Managed time effectiveness independently and under a deadline, for projects ranging in size</li>
                        <li>Generated client relationships by building rapport and communicating on a regular basis.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Hostess</h4>
                    <h5>August 2016 - July 2018</h5>
                    <p><em>Arris' Pizza, Columbia, MO</em></p>
                    <ul>
                        <li>Prioritized and delegated tasks to my coworkers in a fast-paced environment</li>
                        <li>Collaborated closely with management to ensure proper training of new hires by showing them the POS system, restaurant policies, and workplace conduct</li>
                        <li>Addressed client’s inquiries and resolved issues of varying degrees in a timely manner.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Event Marketing Intern</h4>
                    <h5>May 2017 - August 2017</h5>
                    <p><em>Route, Columbia, MO</em></p>
                    <ul>
                        <li>Transcribed weekly membership communication for clients detailing certain brands and events occurring with the business</li>
                        <li>Created partnerships with outside vendors to create a consistent experience among business and vendor</li>
                        <li>Contributed new ideas, alongside an intern team to raise awareness and boost sales</li>
                        <li>dited and produced marketing materials and sales goals using Microsoft products.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-----------------END RESUME---------------->
<!-----------------PORTFOLIO---------------->

<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title" style="text-align: center">
            <h1>Portfolio</h1>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-front">Front End</li>
                    <li data-filter=".filter-cSharp">C#-Based Applications</li>
                    <li data-filter=".filter-store">Store Front</li>
                    <li data-filter=".filter-atm">ATM app</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
        <!----START FRONT END WEBSITE---->
        <div class="col-lg-4 col-md-12 portfolio-item filter-front">
            <div>
                <img src="~/Content/assets/img/Front End (2).png" class="img-fluid rounded-circle" alt="Front End" />
            </div>
            <div class="row mt-5">
                <div class="col-sm-12">
                    <p class="text-center">
                        <a href="http://www.frontendstudio.rachelmantei.com/" class="btn btn-info btn-lg cta-open" data-toggle="modal" data-target="#speedbump" style="background-color:#2d3666">Click For More Information</a>
                    </p>
                </div>
            </div>
        </div>

        <!----START C# CONSOLE APP---->
        <div class="col-lg-4 col-md-12 portfolio-item filter-cSharp">
            <div>
                <img src="~/Content/assets/img/Console App.png" class="img-fluid rounded-circle" alt="C# Home Alone Game">
            </div>
            <div class="row mt-5">
                <div class="col-sm-12">
                    <p class="text-center">
                        <a href="https://github.com/ram5yc/HomeAloneVersionOne" class="btn btn-info btn-lg cta-open" data-toggle="modal" data-target="#speedbump1" style="background-color:#2d3666">Click For More Information</a>
                    </p>
                </div>
            </div>
        </div>

        <!----START STOREFRONT WEBSITE---->
        <div class="col-lg-4 col-md-12 portfolio-item filter-store">
            <div>
                <img src="~/Content/assets/img/BusinessSite.png" class="img-fluid rounded-circle" alt="Store Front" />
            </div>
            <div class="row mt-5">
                <div class="col-sm-12">
                    <p class="text-center">
                        <a href="https://github.com/ram5yc/StoreFront" class="btn btn-info btn-lg cta-open" data-toggle="modal" data-target="#speedbump2" style="background-color:#2d3666">Click For More Information</a>
                    </p>
                </div>
            </div>
        </div>

        <!---START ATM VIDEO---->
        <div class="col-lg-4 col-md-12 portfolio-item filter-atm">
            <div>
                <img src="~/Content/assets/img/ATM.png" class="img-fluid rounded-circle" alt="ATM App" />
            </div>
            <div class="row mt-5">
                <div class="col-sm-12">
                    <p class="text-center">
                        <a href="https://github.com/ram5yc/FED1StudioProject" class="btn btn-info btn-lg cta-open" data-toggle="modal" data-target="#speedbump3" style="background-color:#2d3666">Click For More Information</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- start modal fed 1-->
    <div class="modal fade" id="speedbump" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Front End Studio Project- Hogwarts University</h6>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <img style="width:300px; height:300px;" class="img-fluid d-block mx-auto my-2 modal=image" src="~/Content/assets/img/Front End (2).png" alt="" />
                    <p>For this project, I created a small business site that contained code for HTML, CSS, and jQuery plug-ins.</p>
                    <a href="http://www.frontendstudio.rachelmantei.com/" target="_blank" class="text-uppercase text-center d-block text-decoration-none">Website</a>
                    <a href="https://github.com/ram5yc/FED1StudioProject/tree/main/FED1%20StudioProject" target="_blank" class="text-uppercase text-center d-block text-decoration-none">Github</a>
                </div>
            </div>

        </div>
    </div>
    <!--end modal-->
    <!-- start modal c#-->
    <div class="modal fade" id="speedbump1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">C# Console Game - Home Alone: Trapped in an app</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <img style="width:300px; height:300px;" class="img-fluid d-block mx-auto my-2 modal=image" src="~/Content/assets/img/Console App.png" alt="" />
                    <p>For this project, I created a console game that is based on the 1990' hit movie, Home Alone.</p>
                    <a href="http://www.frontendstudio.rachelmantei.com/" target="_blank" class="text-uppercase text-center d-block text-decoration-none">Watch me code on Youtube!</a>
                    <a href="https://github.com/ram5yc/FED1StudioProject/tree/main/FED1%20StudioProject" target="_blank" class="text-uppercase text-center d-block text-decoration-none">Github</a>
                </div>
            </div>

        </div>
    </div>
    <!--end modal-->
    <!-- start modal buss site-->
    <div class="modal fade" id="speedbump2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Store-Front: Lava Java</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <img style="width:300px; height:300px;" class="img-fluid d-block mx-auto my-2 modal=image" src="~/Content/assets/img/BusinessSite.png" alt="" />
                    <p>For this project, I created a coffee-based business where you can view products and check-out products.</p>
                    <a href="http://www.frontendstudio.rachelmantei.com/" target="_blank" class="text-uppercase text-center d-block text-decoration-none">Website</a>
                    <a href="https://github.com/ram5yc/FED1StudioProject/tree/main/FED1%20StudioProject" target="_blank" class="text-uppercase text-center d-block text-decoration-none">Github</a>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->
    <!-- start modal atm app-->
    <div class="modal fade" id="speedbump3" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ATM application- Mantei Bank</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <img style="width:300px; height:300px;"class="img-fluid d-block mx-auto my-2 modal=image" src="~/Content/assets/img/ATM.png" alt="" />
                    <p>The code shows a basic ATM application where you can withdraw, deposit, make a balance inquiry, and exit the app.</p>
                    <a href="http://www.frontendstudio.rachelmantei.com/" target="_blank" class="text-uppercase text-center d-block text-decoration-none">View me code on Youtube!</a>
                    <a href="https://github.com/ram5yc/FED1StudioProject/tree/main/FED1%20StudioProject" target="_blank" class="text-uppercase text-center d-block text-decoration-none">Github</a>
                </div>
                </div>
            </div>

        </div>
    
    <!--end modal-->



</section>
<!-----------------END PORTFOLIO---------------->
<!----------------SKILLS------------------------>
<section id="skills" class="portfolio">
    <div class="container">
        <div class="section-title" style="text-align: center">
            <h1>Skills</h1>
            <div class="row">
                <div class="col-lg-4">
                    <div class="classmate centerText">
                        <i class="fab fa-html5 fa-10x" style="color:#2d3666"></i>
                        <h2 style="color:#985105">HTML5</h2>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="classmate centerText">
                        <i class="fab fa-css3-alt fa-10x" style="color:#2d3666"></i>
                        <h2 style="color:#985105">CSS3</h2>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="classmate centerText">
                        <i class="devicon-javascript-plain fa-10x" style="color:#2d3666"></i>
                        <h2 style="color:#985105">JAVASCRIPT</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="classmate centerText">
                        <i class="devicon-csharp-plain fa-10x" style="color:#2d3666"></i>
                        <h2 style="color:#985105">C#</h2>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="classmate centerText">
                        <i class="devicon-jquery-plain fa-10x" style="color:#2d3666"></i>
                        <h2 style="color:#985105">JQUERY</h2>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="classmate centerText">
                        <i class="devicon-bootstrap-plain fa-10x" style="color:#2d3666"></i>
                        <h2 style="color:#985105">BOOTSTRAP</h2>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="classmate centerText">
                        <i class="devicon-react-original fa-10x" style="color:#2d3666"></i>
                        <h2 style="color:#985105">ReactJS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------END SKILLS---------------------->
<!-----------------CLASSMATES---------------->
<section id="classmates" class="portfolio">
    <div class="container">

        <div class="section-title" style="text-align: center">
            <h1>Centriq Classmates</h1>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="classmate centerText">
                    <div> <a href="http://www.bryandoescode.com/" target="_blank"><img class="img-rounded classmatePhoto" src="~/Content/assets/img/no image.png" alt="Bryan R Clingan II" /></a></div>
                    <h2>Bryan R. Clingan II</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="classmate centerText">
                    <a href="http://www.davidmuolo.com/" target="_blank"><img class="img-rounded classmatePhoto" src="~/Content/assets/img/classmates/d.muolo.jpg" alt="David Muolo" /></a>
                    <h2>David Muolo</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="classmate centerText">
                    <a href="http://www.dylanschwarz.com/" target="_blank"><img class="img-rounded classmatePhoto" src="~/Content/assets/img/no image.png" alt="Dylan Schwarz" /></a>
                    <h2>Dylan Schwarz</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="classmate centerText">
                    <a href="http://codingbyjames.com/" target="_blank"> <img class="img-rounded classmatePhoto" src="~/Content/assets/img/no image.png" alt="James Glover" /></a>
                    <h2>James Glover</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="classmate centerText">
                    <a href="http://www.dillonfisher.com/" target="_blank"><img class="img-rounded classmatePhoto" src="~/Content/assets/img/no image.png" alt="Dillon Fisher" /></a>
                    <h2>Dillon Fisher</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="classmate centerText">
                    <a href="http://www.benslenker.com/" target="_blank"><img class="img-rounded classmatePhoto" src="~/Content/assets/img/no image.png" alt="Ben Slenker" /></a>
                    <h2>Ben Slenker</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="classmate centerText">
                    <a href="http://www.jeremysidener.com/" target="_blank"><img class="img-rounded classmatePhoto" src="~/Content/assets/img/jeremysidener.jpg" alt="Jeremy Sidener" /></a>
                    <h2>Jeremy Sidener</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------END CLASSMATES---------------->
<!-----------------PAGES------------------------>
<section id="pages" class="portfolio">
    <div class="container">

        <div class="section-title" style="text-align: center">
            <h1>Profiles</h1>
            <div class="row">
                <div class="col-lg-6">
                    <div class="classmate centerText">
                        <a href="https://www.linkedin.com/in/rachel-mantei-0b0203b7/" target="_blank"><i class="fab fa-linkedin fa-10x" style="color: #2d3666" alt="LinkedIn"></i></a>
                        <h2>LinkedIn</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="classmate centerText">
                        <a href="https://github.com/ram5yc" target="_blank"><i class="fab fa-github-alt fa-10x" style="color:#2d3666" alt="GitHub"></i></a>
                        <h2>GitHub</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------END PAGES------------------->
<!-----------------CONTACT---------------->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title" style="text-align: center">
            <h1>Contact</h1>
            <p>Send me a message! Tell me about yourself! I would love to start a conversation.</p>
        </div>

        <div class="row" data-aos="fade-in">

            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>Location:</h4>
                        <p>Kansas City Metro Area </p>
                    </div>

                    <div class="email">
                        <i class="icofont-envelope"></i>
                        <h4>Email:</h4>
                        <p><a href="webdevrach@gmail.com" class="resumeSection">webdevrach@gmail.com</a></p>
                    </div>

                    <div class="phone">
                        <i class="icofont-phone"></i>
                        <h4>Call:</h4>
                        <p><a href="tel:01-81685753097" class="resumeSection">417-496-6513</a></p>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112282.37056528761!2d-94.72954452563879!3d39.049719064794076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0e5f7a6c7ad99%3A0x2d3967c6e6fea83a!2sKansas%20City%20Metropolitan%20Area!5e0!3m2!1sen!2sus!4v1612065537822!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div id="contactForm" style="width: 100%;">
                    <div id="MessageContent">


                    </div>
                    @Html.Partial("ContactAjax", new PersonalSiteRM.UI.MVC.Models.ContactViewModel())
                </div>
                <div id="contactConfirm">

                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------END CONTACT---------------->
<!--FOR EMAIL FORM-->
@section contactScripts{
    <!---FOR EMAIL FORM-->
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
    <script>
        $("#ContactCreateForm").submit(function (e) {
            $(this).validate();

            if ($(this).valid()) {
                var formData = $(this).serializeArray();
                e.preventDefault();
                //Added the below to inject the text into the container when a message is being processed
                $("#MessageContent").html("<div class='alert alert-info'>Please wait while your message is sent...</div>");
                $.ajax({
                    url: '@Url.Action("ContactAjax", "Home")',
                    type: 'POST',
                    data: formData,
                    datatype: 'json',
                    success: function (data) {
                        $("#contactForm").hide();
                        //The line of code below calls on a method in the Home Controller to load the partial view into the appropriate HTML element once the email message has been successfully sent. This will allow us to pass data from the form submission to the partial view.
                        //I am passing only the name and email because those are the only pieces of info you use.This will make passing info easier because we can just use the ViewBag. Your EmailConfirmation will no longer need to be strongly typed.
                        $("#contactConfirm").load('@Url.Action("EmailConfirm", "Home")', { name: data.Name, email: data.Email }).show();
                        $("#ContactCreateForm")[0].reset();
                    },
                    //Added this so you can show the user a message incase something goes wrong with sending the email.
                    error: function (e) {
                        $("#MessageContent").html(
                            "<div class='alert alert-warning'>There was an error. Please try again later or contact the site admin.</div>"
                        );
                    }
                    //Go to the home controller next.
                });
            }
        });

    </script>

}