<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-------------FONT AWESOME----------->
    <script src="https://kit.fontawesome.com/422bd8c87c.js" crossorigin="anonymous"></script>

    <!------------DEVICONS---------------->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.10.1/devicon.min.css">

    <!-------------Bootstrap button tada-------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">


    <!------------jQuery/Ajax link-------------->
    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.ico" rel="icon" />
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

    @RenderSection("scripts", required: false)
    <!-- =======================================================
    * Template Name: iPortfolio - v1.5.1
    * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="~/Content/assets/img/photo of me.jpg" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="index.html">Rachel Mantei</a></h1>
                <div class="social-links mt-3 text-center">
                    <span title="LinkedIn"><a href="https://www.linkedin.com/in/rachel-mantei-0b0203b7" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a></span>
                    <span title="GitHub"><a href="https://www.github.com/ram5yc" class="linkedin" target="_blank"><i class="bx bxl-github"></i></a></span>
                    <span title="Facebook"><a href="https://www.facebook.com/rachel.mantei/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a></span>
                    <span title="Email"><a href="#contact" class="email"><i class="bx bx-mail-send" target="_blank"></i></a></span>
                </div>
            </div>

            <nav class="nav-menu">
                <ul id="nav">
                    <li class="current"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a href="#about" id="About"><i class="bx bx-user"></i> <span>About</span></a></li>
                    <li><a href="#resume" id="Resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                    <li><a href="#portfolio" id="Porfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
                    <li><a href="#classmates" id="Classmates"><i class="bx bx-book-content"></i>Classmates</a></li>
                    <li><a href="#pages" id="Pages"><i class="bx bx-book-content"></i>Profiles</a></li>
                    <li><a href="#contact" id="Contact"><i class="bx bx-envelope"></i> Contact</a></li>

                </ul>
            </nav><!-- .nav-menu -->
            <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>Rachel Mantei</h1>
            <p>I am a <span class="typed" data-typed-items="Developer, Designer, Freelancer"></span></p>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <div class="container body-content">
            @RenderBody()
        </div>

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright @DateTime.Now.Year<strong><span> iPortfolio</span></strong>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
                Designed by BootstrapMade
                <br />
                Improved by Rachel Mantei

            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendor/typed.js/typed.min.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>

    <!--jQuery for email-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>

    <!--jQuery for nav scroll-->
    <script src="//code.jquery.com/jquery.min.js"></script>

    <!--for modal down below-->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

    <!---FOR SCROLL FUNCTION IN JQUERY-->
    @*<script>
            $(document).ready(function () {
                $('#nav').onePageNav();
            });
        </script>*@

    <!---FOR MODAL IN PORTFOLIO LINKS-->
    @*// Open external links in a popup modal notice
        <script>
            $(window).on('load', function () {

                $.expr[":"].external = function (a) {
                    var linkhn = a.hostname.split('.').reverse();
                    var linkHref = linkhn[1] + "." + linkhn[0];

                    var domainhn = window.location.hostname.split('.').reverse();
                    var domainHref = domainhn[1] + "." + domainhn[0];

                    return !a.href.match(/^mailto\:/) && !a.href.match(/^tel\:/) && linkHref !== domainHref;
                };

                $("a:external").addClass("ext_link");

                $(function () {

                    $('a.ext_link').click(function () {
                        // open a modal
                        $('a:external').attr('data-toggle', 'modal');
                        $('a:external').attr('data-target', '#speedbump');
                        //go to link on modal close
                        var url = $(this).attr('href');
                        $('.btn-modal.btn-continue').click(function () {
                            window.open(url);
                            $('.btn-modal.btn-continue').off();
                        });
                        $('.btn-modal.btn-close').click(function () {
                            $('#speedbump').modal('hide');
                            $('.btn-modal.btn-close').off();
                        });
                    });

                });
            });
        </script>*@

    <script>
        let modal = document.querySelector(".modal");
        let show = document.querySelector(".show");
        let closeButton = document.querySelector(".close-button");


        function toggleModal() {
            modal.classList.toggle("show-modal");

            function windowOnClick(event) {
                if (event.target === modal) {
                    toggleModal();
                    show.addEventListener("click", toggleModal);
                    closeButton.addEventListener("click", toggleModal);
                    window.addEventListener("click", windowOnClick);

    </script>

    @RenderSection("contactScripts", false);
</body>

</html>
